<div id="sidebar-wrapper" class="collapse sidebar-collapse">

	<div id="search">
		<form>
			<input class="form-control input-sm" type="text" name="search"
				placeholder="Search..." />

			<button type="submit" id="search-btn" class="btn">
				<i class="fa fa-search"></i>
			</button>
		</form>
	</div>
	<!-- #search -->
	<nav id="sidebar">

		<ul id="main-nav" class="open-active">

			<li class="active"><a href="/dashboard"> <i
					class="fa fa-dashboard"></i> Dashboard
			</a></li>

			<li class="dropdown">
				<a href="javascript:;"> 
					<i class="fa fa-file-text"></i>Example Pages <span class="caret"></span>
				</a>

				<ul class="sub-nav">
					<li><a href="./profile"> <i class="fa fa-user"></i>
							Profile
					</a></li>
					<li><a href="./invoice"> <i class="fa fa-money"></i>
							Invoice
					</a></li>
					<li><a href="./pricing"> <i class="fa fa-dollar"></i>
							Pricing Plans
					</a></li>
					<li><a href="./support"> <i class="fa fa-question"></i>
							Support Page
					</a></li>
					<li><a href="./gallery"> <i class="fa fa-picture-o"></i>
							Gallery
					</a></li>
					<li><a href="./settings"> <i class="fa fa-cogs"></i>
							Settings
					</a></li>
					<li><a href="./calendar"> <i class="fa fa-calendar"></i>
							Calendar
					</a></li>
				</ul></li>

			<li class="dropdown"><a href="javascript:;"> <i
					class="fa fa-tasks"></i> Form Elements <span class="caret"></span>
			</a>

				<ul class="sub-nav">
					<li><a href="./regular"> <i class="fa fa-location-arrow"></i>
							Regular Elements
					</a></li>
					<li><a href="./extended"> <i class="fa fa-magic"></i>
							Extended Elements
					</a></li>
					<li><a href="./validation"> <i class="fa fa-check"></i>
							Validation
					</a></li>
				</ul></li>

			<li class="dropdown"><a href="javascript:;"> <i
					class="fa fa-desktop"></i> UI Features <span class="caret"></span>
			</a>

				<ul class="sub-nav">
					<li><a href="./buttons"> <i
							class="fa fa-hand-o-up"></i> Buttons
					</a></li>
					<li><a href="./tabs"> <i class="fa fa-reorder"></i>
							Tabs & Accordions
					</a></li>

					<li><a href="./popups"> <i class="fa fa-asterisk"></i>
							Popups / Notifications
					</a></li>

					<li><a href="./sliders"> <i class="fa fa-tasks"></i>
							Sliders
					</a></li>

					<li class=""><a href="./typography"> <i
							class="fa fa-font"></i> Typography
					</a></li>

					<li class=""><a href="./icons"> <i
							class="fa fa-star-o"></i> Icons
					</a></li>
				</ul></li>

			<li class="dropdown"><a href="javascript:;"> <i
					class="fa fa-table"></i> Tables <span class="caret"></span>
			</a>

				<ul class="sub-nav">
					<li><a href="./tablebasic"> <i class="fa fa-table"></i>
							Basic Tables
					</a></li>
					<li><a href="./tableadvanced"> <i
							class="fa fa-table"></i> Advanced Tables
					</a></li>
					<li><a href="./tableresponsive"> <i
							class="fa fa-table"></i> Responsive Tables
					</a></li>
				</ul></li>

			<li><a href="./portlets"> <i class="fa fa-list-alt"></i>
					Portlets
			</a></li>

			<li class="dropdown"><a href="javascript:;"> <i
					class="fa fa-bar-chart-o"></i> Charts & Graphs <span class="caret"></span>
			</a>

				<ul class="sub-nav">
					<li><a href="./chartflot"> <i
							class="fa fa-bar-chart-o"></i> jQuery Flot
					</a></li>
					<li><a href="./chartmorris"> <i
							class="fa fa-bar-chart-o"></i> Morris.js
					</a></li>
				</ul></li>

			<li class="dropdown"><a href="javascript:;"> <i
					class="fa fa-file-text-o"></i> Extra Pages <span class="caret"></span>
			</a>

				<ul class="sub-nav">
					<li><a href="./pagelogin"> <i class="fa fa-unlock"></i>
							Login Basic
					</a></li>
					<li><a href="./pageloginsocial"> <i
							class="fa fa-unlock"></i> Login Social
					</a></li>
					<li><a href="./404"> <i class="fa fa-ban"></i>
							404 Error
					</a></li>
					<li><a href="./500"> <i class="fa fa-ban"></i>
							500 Error
					</a></li>
					<li><a href="./blank"> <i
							class="fa fa-file-text-o"></i> Blank Page
					</a></li>
				</ul></li>

		</ul>

	</nav>
	<!-- #sidebar -->

</div>
<!-- /#sidebar-wrapper -->