<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eim.persist.mapper.tag.ObjectCategoryMapper">

	<cache />

	<resultMap id="objectCategoryResultMap" type="ObjectCategoryPO">
		<result property="categoryId" column="OBJECT_CATEGORY_ID" />
		<result property="name" column="OBJCT_NAME" />
	</resultMap>

	<select id="load" parameterType="long" resultMap="objectCategoryResultMap">
		SELECT * FROM TAG_OBJECT_CATEGORY T WHERE T.OBJECT_CATEGORY_ID = #{categoryId}
	</select>

	<select id="loadAll" resultMap="objectCategoryResultMap">
		SELECT * FROM TAG_OBJECT_CATEGORY T
	</select>

	<update id="update" parameterType="ObjectCategoryPO">
		UPDATE TAG_OBJECT_CATEGORY SET
		OBJCT_NAME = #{name}
		WHERE OBJECT_CATEGORY_ID = #{categoryId}
	</update>

	<insert id="insert" parameterType="ObjectCategoryPO">
		INSERT INTO TAG_OBJECT_CATEGORY (OBJECT_CATEGORY_ID, OBJCT_NAME) VALUES (#{categoryId}, #{name})
	</insert>

	<delete id="delete" parameterType="Long">
		DELETE FROM TAG_OBJECT_CATEGORY WHERE OBJECT_CATEGORY_ID= #{categoryId}
	</delete>

</mapper>