<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eim.persist.mapper.tag.ObjectCategoryMapper">

	<cache />

	<resultMap id="objectCategoryResultMap" type="ObjectCategoryPO">
		<result property="id" column="ID" />
		<result property="name" column="NAME" />
		<result property="description" column="DESCRIPTION" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="lastUpdateDate" column="LAST_UPDATE_DATE" />
	</resultMap>

	<select id="load" parameterType="long" resultMap="objectCategoryResultMap">
		SELECT * FROM TAG_OBJECT_CATEGORY T WHERE T.ID = #{id}
	</select>

	<select id="loadAll" resultMap="objectCategoryResultMap">
		SELECT * FROM TAG_OBJECT_CATEGORY T
	</select>

	<update id="update" parameterType="ObjectCategoryPO">
		UPDATE TAG_OBJECT_CATEGORY SET
		NAME = #{name},
		DESCRIPTION = #{description},
		LAST_UPDATE_DATE = #{lastUpdateDate}
		WHERE ID = #{categoryId}
	</update>

	<insert id="insert" parameterType="ObjectCategoryPO">
		INSERT INTO TAG_OBJECT_CATEGORY (ID, NAME, DESCRIPTION, CREATE_DATE) VALUES (#{id}, #{name}, #{description}, #{createDate})
	</insert>

	<delete id="delete" parameterType="Long">
		DELETE FROM TAG_OBJECT_CATEGORY WHERE ID= #{id}
	</delete>

</mapper>