<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eim.persist.mapper.tag.TagCategoryMapper">

	<cache />
	
	<resultMap id="tagCategoryResultMap" type="TagCategoryPO">
		<result property="id" column="ID" />
		<result property="name" column="NAME" />
		<result property="description" column="DESCRIPTION" />
		<result property="locale" column="LOCALE"
			typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="lastUpdateDate" column="LAST_UPDATE_DATE" />	
	</resultMap>

	<select id="load" parameterType="long" resultMap="tagCategoryResultMap">
		SELECT * FROM TAG_TAG_CATEGORY T WHERE T.ID = #{id}
	</select>

	<select id="loadAll" resultMap="tagCategoryResultMap">
		SELECT * FROM TAG_TAG_CATEGORY T
	</select>

	<update id="update" parameterType="TagCategoryPO">
		UPDATE TAG_TAG_CATEGORY SET
		NAME = #{name},
		DESCRIPTION = #{description},
		LOCALE = #{locale.id},
		LAST_UPDATE_DATE = #{lastUpdateDate}
		WHERE ID = #{id}
	</update>

	<insert id="insert" parameterType="TagCategoryPO">
		INSERT INTO TAG_TAG_CATEGORY (ID, NAME, DESCRIPTION, LOCALE, CREATE_DATE)
		VALUES (#{id}, #{name}, #{description},  #{locale.id}, #{createDate})
	</insert>

	<delete id="delete" parameterType="Long">
		DELETE FROM TAG_TAG_CATEGORY WHERE ID=#{id}
	</delete>

	<insert id="batchInsert" parameterType="List">
		INSERT INTO TAG_TAG_CATEGORY (ID, NAME, DESCRIPTION, LOCALE, CREATE_DATE) VALUES
		<foreach collection="entities" item="item" index="index"
			separator=",">
			(#{item.id}, #{item.name}, #{item.description}, #{item.locale.id}, #{item.createDate})
		</foreach>
	</insert>

</mapper>