<div id="content">

	<div id="content-header">
		<h1>Extension Plans</h1>
	</div>
	<!-- #content-header -->

	<div id="content-container">

		<div class="row">

			<div class="col-md-12">

				<div class="align-center">

					<h2>Choose your Extension Plan today!</h2>

					<h4>Support payment methods: PayPal, Alipay, Credit Card</h4>
					<br />
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-tertiary active" style="width: 125px;">
							<input type="radio" name="options" id="option1"> Monthly
						</label> <label class="btn btn-tertiary" style="width: 125px;"> <input
							type="radio" name="options" id="option2"> Yearly <small>(16.7%
								off)</small>
						</label>
					</div>

					<br /> <br /> <br />

				</div>

				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="pricing-plan">

							<h3 class="pricing-title">Free</h3>

							<p class="pricing-label">For personal business</p>

							<hr>

							<span class="pricing-price"> <span class="pricing-amount">$0</span>
								/ month
							</span>
							<hr>
							<span class="pricing-price"> <span class="pricing-amount">$0</span>
								/ year
							</span>
							<hr>

							<ul class="pricing-details">
								<li><strong>Advertisement</strong> can not remove</li>
								<li><strong>3</strong> staffs</li>
								<li><strong>1</strong> application</li>
								<li><strong>3</strong> concurrent limited</li>
								<li><strong>7</strong> days of history</li>
								<li><strong>512 MB</strong> of space</li>
							</ul>
						</div>
						<!-- /.pricing -->

					</div>
					<!-- /.col -->


					<div class="col-md-3 col-sm-6">
						<div class="pricing-plan promoted">
						
							<img src="/images/dashboard/label-yellow.png"
								class="pricing-best-value" alt="Best Label" />
								
							<h3 class="pricing-title">Basic</h3>

							<p class="pricing-label">For small business</p>

							<hr>

							<span class="pricing-price"> <span class="pricing-amount">$29</span>
								/ month
							</span>
							<hr>

							<span class="pricing-price"> <span class="pricing-amount">$290</span>
								/ year
							</span>
							<hr>

							<ul class="pricing-details">
								<li><strong>No Advertisement</strong></li>
								<li><strong>5</strong> staffs</li>
								<li><strong>3</strong> application</li>
								<li><strong>5</strong> concurrent limited</li>
								<li><strong>30</strong> days of history</li>
								<li><strong>2 GB</strong> of space</li>
							</ul>

							<a href="javascript:;" class="btn btn-primary btn-lg">Choose
								plan</a>

						</div>
						<!-- /.pricing -->

					</div>
					<!-- /.col -->
					<div class="col-md-3 col-sm-6">
						<div class="pricing-plan">
							<h3 class="pricing-title">Pro</h3>

							<p class="pricing-label">For corporate teams</p>

							<hr>

							<span class="pricing-price"> <span class="pricing-amount">
									$59 </span>/ month
							</span>
							<hr>
							<span class="pricing-price"> <span class="pricing-amount">
									$590 </span>/ year
							</span>
							<hr>

							<ul class="pricing-details">
								<li><strong>No Advertisement</strong></li>
								<li><strong>10</strong><span> staffs</span></li>
								<li><span><strong>5</strong> applications</span></li>
								<li><strong>5</strong> concurrent limited</li>
								<li><strong>Full</strong> history</li>
								<li><span><strong>5 GB</strong> of space</span></li>
							</ul>

							<a href="javascript:;" class="btn btn-primary btn-lg">Choose
								plan</a>

						</div>
						<!-- /.pricing -->

					</div>
					<!-- /.col -->


					<div class="col-md-3 col-sm-6">
						<div class="pricing-plan">

							<h3 class="pricing-title">Ultra</h3>

							<p class="pricing-label">For large enterprises</p>

							<hr>

							<span class="pricing-price"> <span class="pricing-amount">$299</span>
								/ month
							</span>

							<hr>

							<span class="pricing-price"> <span class="pricing-amount">$2990</span>
								/ year
							</span>

							<hr>

							<ul class="pricing-details">
								<li><strong>No Advertisement</strong></li>
								<li><strong>50</strong><span> staffs</span></li>
								<li><span><strong>25</strong> applications</span></li>
								<li><strong>10</strong> concurrent limited</li>
								<li><strong>Full</strong> history</li>
								<li><span><strong>25 GB</strong> of space</span></li>
							</ul>

							<a href="javascript:;" class="btn btn-primary btn-lg">Choose
								plan</a>

						</div>
						<!-- /.pricing -->

					</div>
					<!-- /.col -->


				</div>
				<!-- /.row -->


				<br />

				<h4 class="align-center">
					<strong>Need More?</strong> <span>We offer larger plans for
						companies with even more features.</span> <a href="javascript:;">Learn
						More <i class="fa fa-expand"></i>
					</a>
				</h4>

			</div>
			<!-- /.col-md-12 -->

		</div>
		<!-- /.row -->


		<br /> <br />


		<div class="row">

			<h3 class="align-center">All Plans Come With</h3>

			<hr />

			<div class="col-md-3 col-sm-6">
				<ul class="icons-list">
					<li><i class="icon-li fa fa-check-square"></i> Free Setup</li>

					<li><i class="icon-li fa fa-check-square"></i> SSL Protection
					</li>

					<li><i class="icon-li fa fa-check-square"></i> Unlimited
						Downloads</li>

					<li><i class="icon-li fa fa-check-square"></i> Unlimited
						Pushes</li>
				</ul>
			</div>
			<!-- /.col -->

			<div class="col-md-3 col-sm-6">
				<ul class="icons-list">

					<li><i class="icon-li fa fa-check-square"></i> Over the Air
						Install and Update</li>

					<li><i class="icon-li fa fa-check-square"></i> Realtime
						Dashboard</li>

					<li><i class="icon-li fa fa-check-square"></i> Package History
						Archive</li>

					<li><i class="icon-li fa fa-check-square"></i> Easy to Use
						Interface</li>
				</ul>
			</div>
			<!-- /.col -->

			<div class="col-md-3 col-sm-6">
				<ul class="icons-list">

					<li><i class="icon-li fa fa-check-square"></i> Full Featured</li>

					<li><i class="icon-li fa fa-check-square"></i> Crash Reporting
						(with SDK)</li>

					<li><i class="icon-li fa fa-check-square"></i> Custom Event
						Logging (with SDK)</li>

					<li><i class="icon-li fa fa-check-square"></i> Commandline
						Tools</li>
				</ul>
			</div>
			<!-- /.col -->

			<div class="col-md-3 col-sm-6">
				<ul class="icons-list">

					<li><i class="icon-li fa fa-check-square"></i> Over the Air
						Install and Update</li>

					<li><i class="icon-li fa fa-check-square"></i> Realtime
						Dashboard</li>

					<li><i class="icon-li fa fa-check-square"></i> Package History
						Archive</li>

					<li><i class="icon-li fa fa-check-square"></i> Easy to Use
						Interface</li>
				</ul>
			</div>
			<!-- /.col -->

		</div>
		<!-- /.row -->


	</div>
	<!-- /#content-container -->


</div>
<!-- #content -->
