<script src="/javascripts/dashboard/charts/line.js"></script>
<script src="/javascripts/dashboard/charts/area.js"></script>
<script src="/javascripts/dashboard/charts/stacked-area.js"></script>
<script src="/javascripts/dashboard/charts/vertical.js"></script>
<script src="/javascripts/dashboard/charts/horizontal.js"></script>
<script src="/javascripts/dashboard/charts/stacked-vertical.js"></script>
<script src="/javascripts/dashboard/charts/stacked-horizontal.js"></script>
<script src="/javascripts/dashboard/charts/pie.js"></script>
<script src="/javascripts/dashboard/charts/donut.js"></script>
<script src="/javascripts/dashboard/charts/scatter.js"></script>