
<div id="content">

	<div id="content-header">
		<h1>Calendar</h1>
	</div>
	<!-- #content-header -->


	<div id="content-container">


		<div class="row">

			<div class="col-md-8">

				<div class="portlet">

					<div class="portlet-header">

						<h3>
							<i class="fa fa-calendar"></i> Full Calendar
						</h3>

					</div>
					<!-- /.portlet-header -->

					<div class="portlet-content">

						<div id="full-calendar"></div>
						<!-- /#full-calendar -->

					</div>
					<!-- /.portlet-content -->

				</div>
				<!-- /.portlet -->

			</div>
			<!-- /.col-md-8 -->



			<div class="col-md-4">

				<div class="well">

					<div id="external-events">
						<h4>Add an Event</h4>

						<form id="event-form" class="form">
							<div class="form-group">
								<input type="text" value="" class="form-control"
									placeholder="Event Title..." id="event_title" />
							</div>
							<!-- /.form-group -->

							<div class="form-group">
								<select id="event_category" name="event_category"
									class="form-control">
									<option value="fc-red">Red Event</option>
									<option value="fc-yellow">Yellow Event</option>
									<option value="fc-grey">Grey Event</option>
									<option value="fc-charcoal">Charcoal Event</option>
								</select>
							</div>
							<!-- /.form-group -->

							<div class="form-group">
								<button type="submit" id="event_add"
									class="btn btn-tertiary btn-sm">Add Event</button>
							</div>
							<!-- /.form-group -->
						</form>

						<hr />

						<h4>Draggable Events</h4>


						<div id="event_box">
							<div class="external-event label ui-draggable fc-red"
								data-category="fc-red">My Event 1</div>
							<div class="external-event label ui-draggable fc-yellow"
								data-category="fc-yellow">My Event 2</div>
							<div class="external-event label ui-draggable fc-grey"
								data-category="fc-grey">My Event 3</div>
							<div class="external-event label ui-draggable fc-charcoal"
								data-category="fc-charcoal">My Event 4</div>
						</div>
					</div>

				</div>
				<!-- /.well -->

			</div>
			<!-- /.col-md-4 -->


		</div>
		<!-- /.row -->


	</div>
	<!-- /#content-container -->



</div>
<!-- #content -->
