
<div id="content">

	<div id="content-header">
		<h1>Support Center</h1>
	</div>
	<!-- #content-header -->

	<div id="content-container">

		<div class="row">

			<div class="col-md-12">


				<form id="support-search" class="form">

					<div class="form-group">

						<div class="input-group">
							<input id="support-search-field" type="text"
								class="form-control input-lg" name="search"
								placeholder="Have a question? Ask or enter a search term." /> <span
								class="input-group-btn">
								<button id="support-search-btn" class="btn btn-primary btn-lg"
									type="button">
									<i class="fa fa-search"></i>&nbsp; Search
								</button>
							</span>
						</div>

					</div>

				</form>

			</div>
			<!-- /.col-md-12 -->

		</div>
		<!-- /.row -->


		<div class="row">

			<div class="col-md-8">

				<h3 class="heading">Article Categories</h3>

				<!-- <hr /> -->

				<div class="row">

					<div class="col-md-6 col-sm-6">

						<h4>
							<i class="fa fa-folder-close"></i> &nbsp; Account Settings &nbsp;<small>(12)</small>
						</h4>

						<ul class="icons-list support-list">
							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> How Secure Is My Password? </a></li>

							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> Can I Change My Username? </a></li>

							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> Where Can I Upload My Avatar? </a></li>

							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> How Do I Change My Timezone? </a></li>

							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> How Do I Change My Password? </a></li>

						</ul>


					</div>
					<!-- /.col-md-6 -->


					<div class="col-md-6 col-sm-6">

						<h4>
							<i class="fa fa-folder-close"></i> &nbsp; API Questions &nbsp;<small>(12)</small>
						</h4>

						<ul class="icons-list support-list">
							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> What Technologies Are Used? </a></li>

							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> What Are The API Limits? </a></li>

							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> Why Was My Developer Application
									Rejected? </a></li>

							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> Where can I find the documentation? </a></li>

							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> How Do I Get An API Key? </a></li>

						</ul>


					</div>
					<!-- /.col-md-6 -->

				</div>
				<!-- /.row -->



				<div class="row">

					<div class="col-md-6 col-sm-6">
						<h4>
							<i class="fa fa-folder-close"></i> &nbsp; Billing &nbsp;<small>(12)</small>
						</h4>

						<ul class="icons-list support-list">
							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> Can I Contact A Salés Rep? </a></li>

							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> Do I Need To Pay VAT? </a></li>

							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> Can I Get A Refund? </a></li>

							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> What’s The Difference Between Annual &
									Monthly Billing </a></li>

							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> What Happens If The Price Increases? </a></li>

						</ul>


					</div>
					<!-- /.col-md-6 -->

					<div class="col-md-6 col-sm-6">
						<h4>
							<i class="fa fa-folder-close"></i> &nbsp; Copyright & Legal
							&nbsp;<small>(12)</small>
						</h4>

						<ul class="icons-list support-list">
							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> How Do I Contact Legal? </a></li>

							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> Where Are Your Offices Located? </a></li>

							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> Who Owns The Copyright On Uploaded Text
									& Images? </a></li>

							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> Our Content Policy </a></li>

							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> How Do I File A DMCA? </a></li>

						</ul>



					</div>
					<!-- /.col-md-6 -->

				</div>
				<!-- /.row -->



				<div class="row">

					<div class="col-md-6 col-sm-6">
						<h4>
							<i class="fa fa-folder-close"></i> &nbsp; Mobile Apps &nbsp;<small>(12)</small>
						</h4>

						<ul class="icons-list support-list">
							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> How Do I Download The Andoird App? </a></li>

							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> How To Download Our iPad App </a></li>

							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> Incompatibilities With Horizon Phones </a>
							</li>

							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> Can I Use My Android Phone? </a></li>

							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> Is There An iOS App? </a></li>

						</ul>


					</div>
					<!-- /.col-md-6 -->

					<div class="col-md-6 col-sm-6">
						<h4>
							<i class="fa fa-folder-close"></i> &nbsp; Upgrading &nbsp;<small>(2)</small>
						</h4>

						<ul class="icons-list support-list">
							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> Recommended Plugins </a></li>

							<li><i class="icon-li fa fa-file-text-o"></i> <a
								href="javascript:;"> How To Update Seamlessly Every Time </a></li>


						</ul>


					</div>
					<!-- /.col-md-6 -->

				</div>
				<!-- /.row -->

			</div>
			<!-- /.col-md-8 -->

			<div class="col-md-4 col-sidebar-right">

				<a href="javascript:;" class="btn btn-secondary btn-jumbo btn-block">Ask
					a Question</a> <br /> <a href="javascript:;"
					class="btn btn-default btn-lg btn-block">Contact Support</a> <br />
				<br />

				<h4>Categories</h4>

				<div class="list-group">

					<a href="javascript:;" class="list-group-item"> Account
						Settings <span class="badge badge-primary">6</span>
					</a> <a href="javascript:;" class="list-group-item"> API Questions
						<span class="badge badge-primary">5</span>
					</a> <a href="javascript:;" class="list-group-item"> Billing <span
						class="badge badge-primary">12</span>
					</a> <a href="javascript:;" class="list-group-item"> Copyright &
						Legal <span class="badge badge-primary">4</span>
					</a>

				</div>
				<!-- /.list-group -->




				<br />

				<h4 class="heading">Popular Articles</h4>

				<ul class="icons-list">
					<li><i class="icon-li fa fa-star"></i> <a href="javascript:;">
							How Secure Is My Password? </a></li>

					<li><i class="icon-li fa fa-star"></i> <a href="javascript:;">
							Can I Change My Username? </a></li>

					<li><i class="icon-li fa fa-star"></i> <a href="javascript:;">
							Where Can I Upload My Avatar? </a></li>

					<li><i class="icon-li fa fa-star"></i> <a href="javascript:;">
							How Do I Change My Timezone? </a></li>

					<li><i class="icon-li fa fa-star"></i> <a href="javascript:;">
							How Do I Change My Password? </a></li>

				</ul>



			</div>
			<!-- /.col-md-4 -->

		</div>
		<!-- /.row -->



	</div>
	<!-- /#content-container -->

</div>
<!-- #content -->
