

<div id="content">

	<div id="content-header">
		<h1>Portlets</h1>
	</div>
	<!-- #content-header -->


	<div id="content-container">


		<div class="row">

			<div class="col-md-4">


				<div class="portlet">

					<div class="portlet-header">

						<h3>Basic Title</h3>

					</div>
					<!-- /.portlet-header -->

					<div class="portlet-content">

						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
							Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
							natoque penatibus et magnis dis parturient montes, nascetur
							ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
							pretium quis, sem. Nulla consequat massa quis enim. Donec pede
							justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
							justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
							dictum felis eu pede mollis pretium.</p>

					</div>
					<!-- /.portlet-content -->

				</div>
				<!-- /.portlet -->


			</div>
			<!-- /col-md -->

			<div class="col-md-4">


				<div class="portlet">

					<div class="portlet-header">

						<h3>
							<i class="fa fa-star"></i> Icon Title
						</h3>

					</div>
					<!-- /.portlet-header -->

					<div class="portlet-content">

						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
							Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
							natoque penatibus et magnis dis parturient montes, nascetur
							ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
							pretium quis, sem. Nulla consequat massa quis enim. Donec pede
							justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
							justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
							dictum felis eu pede mollis pretium.</p>

					</div>
					<!-- /.portlet-content -->

				</div>
				<!-- /.portlet -->



			</div>
			<!-- /col-md -->


			<div class="col-md-4">


				<div class="portlet portlet-plain">

					<div class="portlet-header">

						<h3>
							<i class="fa fa-check-empty"></i> Plain portlet
						</h3>

					</div>
					<!-- /.portlet-header -->

					<div class="portlet-content">

						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
							Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
							natoque penatibus et magnis dis parturient montes, nascetur
							ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
							pretium quis, sem. Nulla consequat massa quis enim. Donec pede
							justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
							justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
							dictum felis eu pede mollis pretium.</p>

					</div>
					<!-- /.portlet-content -->

				</div>
				<!-- /.portlet -->



			</div>
			<!-- /col-md -->


		</div>
		<!-- /.row -->





		<div class="row">

			<div class="col-md-4">


				<div class="portlet">

					<div class="portlet-header">

						<h3>Icons</h3>

						<ul class="portlet-tools pull-right">
							<li><a href="javascript:;" class="btn btn-sm btn-icon">
									<i class="fa fa-check"></i>
							</a></li>
							<li><a href="javascript:;" class="btn btn-sm btn-icon">
									<i class="fa fa-cog"></i>
							</a></li>
							<li><a href="javascript:;" class="btn btn-sm btn-icon">
									<i class="fa fa-times"></i>
							</a></li>
						</ul>
						<!-- /.portlet-tools -->

					</div>
					<!-- /.portlet-header -->

					<div class="portlet-content">

						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
							Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
							natoque penatibus et magnis dis parturient montes, nascetur
							ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
							pretium quis, sem. Nulla consequat massa quis enim. Donec pede
							justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
							justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
							dictum felis eu pede mollis pretium.</p>

					</div>
					<!-- /.portlet-content -->

				</div>
				<!-- /.portlet -->



			</div>
			<!-- /col-md -->

			<div class="col-md-4">


				<div class="portlet">

					<div class="portlet-header">

						<h3>Label</h3>

						<ul class="portlet-tools pull-right">

							<li><span class="label label-primary">Label Right
									Here</span></li>
						</ul>

					</div>
					<!-- /.portlet-header -->

					<div class="portlet-content">

						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
							Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
							natoque penatibus et magnis dis parturient montes, nascetur
							ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
							pretium quis, sem. Nulla consequat massa quis enim. Donec pede
							justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
							justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
							dictum felis eu pede mollis pretium.</p>

					</div>
					<!-- /.portlet-content -->

				</div>
				<!-- /.portlet -->



			</div>
			<!-- /col-md -->


			<div class="col-md-4">


				<div class="portlet">

					<div class="portlet-header">

						<h3>Search</h3>

						<ul class="portlet-tools pull-right">
							<li><input type="text" class="form-control input-sm"
								placeholder="Search..."></li>
						</ul>
						<!-- /.portlet-tools -->

					</div>
					<!-- /.portlet-header -->

					<div class="portlet-content">

						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
							Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
							natoque penatibus et magnis dis parturient montes, nascetur
							ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
							pretium quis, sem. Nulla consequat massa quis enim. Donec pede
							justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
							justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
							dictum felis eu pede mollis pretium.</p>

					</div>
					<!-- /.portlet-content -->

				</div>
				<!-- /.portlet -->



			</div>
			<!-- /col-md -->


		</div>
		<!-- /.row -->










		<div class="row">

			<div class="col-md-4">


				<div class="portlet">

					<div class="portlet-header">

						<h3>Basic Dropdown</h3>

						<ul class="portlet-tools pull-right">
							<li>
								<div class="btn-group">
									<button type="button"
										class="btn btn-secondary btn-sm dropdown-toggle"
										data-toggle="dropdown">
										Action &nbsp;<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="javascript:;">Action</a></li>
										<li><a href="javascript:;">Another action</a></li>
										<li><a href="javascript:;">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="javascript:;">Separated link</a></li>
									</ul>
								</div>
							</li>
						</ul>

					</div>
					<!-- /.portlet-header -->

					<div class="portlet-content">

						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
							Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
							natoque penatibus et magnis dis parturient montes, nascetur
							ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
							pretium quis, sem. Nulla consequat massa quis enim. Donec pede
							justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
							justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
							dictum felis eu pede mollis pretium.</p>

					</div>
					<!-- /.portlet-content -->

				</div>
				<!-- /.portlet -->



			</div>
			<!-- /col-md -->


			<div class="col-md-4">


				<div class="portlet">

					<div class="portlet-header">

						<h3>Icon Dropdown</h3>

						<ul class="portlet-tools pull-right">
							<li>
								<div class="btn-group">
									<button type="button"
										class="btn btn-sm btn-icon dropdown-toggle"
										data-toggle="dropdown">
										<i class="fa fa-cog"></i>&nbsp; <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="javascript:;">Action</a></li>
										<li><a href="javascript:;">Another action</a></li>
										<li><a href="javascript:;">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="javascript:;">Separated link</a></li>
									</ul>
								</div>
							</li>
						</ul>

					</div>
					<!-- /.portlet-header -->

					<div class="portlet-content">

						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
							Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
							natoque penatibus et magnis dis parturient montes, nascetur
							ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
							pretium quis, sem. Nulla consequat massa quis enim. Donec pede
							justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
							justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
							dictum felis eu pede mollis pretium.</p>

					</div>
					<!-- /.portlet-content -->

				</div>
				<!-- /.portlet -->



			</div>
			<!-- /col-md -->


			<div class="col-md-4">


				<div class="portlet">

					<div class="portlet-header">

						<h3>Split Dropdown</h3>

						<ul class="portlet-tools pull-right">
							<li>
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-primary">Action</button>
									<button type="button"
										class="btn btn-sm btn-primary dropdown-toggle"
										data-toggle="dropdown">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="javascript:;">Action</a></li>
										<li><a href="javascript:;">Another action</a></li>
										<li><a href="javascript:;">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="javascript:;">Separated link</a></li>
									</ul>
								</div>
							</li>
						</ul>

					</div>
					<!-- /.portlet-header -->

					<div class="portlet-content">

						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
							Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
							natoque penatibus et magnis dis parturient montes, nascetur
							ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
							pretium quis, sem. Nulla consequat massa quis enim. Donec pede
							justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
							justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
							dictum felis eu pede mollis pretium.</p>

					</div>
					<!-- /.portlet-content -->

				</div>
				<!-- /.portlet -->



			</div>
			<!-- /col-md -->


		</div>
		<!-- /.row -->










		<div class="row">

			<div class="col-md-4">


				<div class="portlet">

					<div class="portlet-header">

						<h3>Tabs</h3>

						<ul class="portlet-tools pull-right">
							<li>
								<ul class="nav nav-pills">
									<li class="active"><a href="#tab1" data-toggle="tab">Tab
											#1</a></li>
									<li><a href="#tab2" data-toggle="tab">Tab #2</a></li>
								</ul>
							</li>
						</ul>

					</div>
					<!-- /.portlet-header -->

					<div class="portlet-content">

						<div class="tab-content">

							<div id="tab1" class="tab-pane fade active in">
								<h5>Tab Home</h5>

								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
									natoque penatibus et magnis dis parturient montes, nascetur
									ridiculus mus.</p>

								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									Aenean commodo ligula eget dolor.</p>
							</div>

							<div id="tab2" class="tab-pane fade">
								<h5>Tab Profile</h5>

								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
									natoque penatibus et magnis dis parturient montes, nascetur
									ridiculus mus.</p>

								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									Aenean commodo ligula eget dolor.</p>
							</div>

						</div>

					</div>
					<!-- /.portlet-content -->

				</div>
				<!-- /.portlet -->



			</div>
			<!-- /col-md -->


			<div class="col-md-4">


				<div class="portlet">

					<div class="portlet-header">

						<h3>Progress Bar</h3>

						<ul class="portlet-tools pull-right">
							<li>
								<div class="progress progress-striped active">
									<div class="progress-bar progress-bar-info" role="progressbar"
										aria-valuenow="67" aria-valuemin="0" aria-valuemax="100"
										style="width: 67%">
										<span class="sr-only">67% Complete (success)</span>
									</div>
								</div>
							</li>
						</ul>

					</div>
					<!-- /.portlet-header -->

					<div class="portlet-content">

						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
							Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
							natoque penatibus et magnis dis parturient montes, nascetur
							ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
							pretium quis, sem. Nulla consequat massa quis enim. Donec pede
							justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
							justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
							dictum felis eu pede mollis pretium.</p>

					</div>
					<!-- /.portlet-content -->

				</div>
				<!-- /.portlet -->



			</div>
			<!-- /col-md -->


			<div class="col-md-4">


				<div class="portlet">

					<div class="portlet-header">

						<h3>Badge</h3>

						<ul class="portlet-tools pull-right">
							<li><span class="badge">13</span></li>
						</ul>

					</div>
					<!-- /.portlet-header -->

					<div class="portlet-content">

						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
							Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
							natoque penatibus et magnis dis parturient montes, nascetur
							ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
							pretium quis, sem. Nulla consequat massa quis enim. Donec pede
							justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
							justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
							dictum felis eu pede mollis pretium.</p>

					</div>
					<!-- /.portlet-content -->

				</div>
				<!-- /.portlet -->


			</div>
			<!-- /col-md -->


		</div>
		<!-- /.row -->


	</div>
	<!-- /#content-container -->


</div>
<!-- #content -->
