@charset "utf-8";
/* CSS Document */

@media (max-width: 767px) {
	body{
		padding:0px !important;
		margin:0px !important;
		overflow-x:hidden !important; 
	}
	.ca-menu{
    padding: 0 0 0 48px;
    margin: 20px auto;
    width: 480px;
	}
	#master-wrapper{
		background:url(../img/overlay-white.png) repeat !important;
		padding-left:0px !important;
		padding-right:0px !important;
		margin:0px !important;
	}
	.row{
		padding-left: 30px !important;
		padding-right: 30px !important;
	}
	#masthead{
		height: 100px !important;
		top:0px !important;
	max-height: 160px;
	}
	#jms-slideshow{
		display: none !important;
	}
	#about{
		margin-top: 30px;
	}
	
}
@media (min-width: 768px) and (max-width: 979px) {
	
}
