<meta charset="utf-8" />
<title>Dashboard - EIM</title>
<meta name="description" content="overview &amp; stats" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/stylesheets/ace/ace.min.css" />
<link rel="stylesheet" href="/stylesheets/ace/ace-rtl.min.css" />
<link rel="stylesheet" href="/stylesheets/ace/ace-skins.min.css" />
<!--[if lte IE 8]>
<link rel="stylesheet" href="/stylesheets/ace/ace-ie.min.css" />
<![endif]-->
	<script src="/javascripts/ace/ace-extra.min.js"></script>
	<script src="/javascripts/typeahead.min.js"></script>
	<script src="/javascripts/jquery/jquery.ui.touch-punch.min.js"></script>
	<script src="/javascripts/jquery/jquery.slimscroll.min.js"></script>
	<script src="/javascripts/jquery/jquery.easypiechart.min.js"></script>
	<script src="/javascripts/jquery/jquery.sparkline.min.js"></script>
	<script src="/javascripts/jquery/jquery.flot.min.js"></script>
	<script src="/javascripts/jquery/jquery.flot.pie.min.js"></script>
	<script src="/javascripts/jquery/jquery.flot.resize.min.js"></script>

	<script src="/javascripts/ace/ace-elements.min.js"></script>
	<script src="/javascripts/ace/ace.min.js"></script>
