<!DOCTYPE html>
<html>
<head>
<title>Chat</title> {{> css}} {{> script}}
<link rel='stylesheet' href='/stylesheets/style.min.css' />
<style type="text/css">
body {
	padding-top: 85px;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row" style="height: 650px; position: relative;">
			<!-- <div id="sidebar-toggle">
				<a href="#" class="btn btn-mini"><i class="fa fa-caret-left"></i>
					<i class="fa fa-comment-alt"></i></a>
			</div> -->
			<div class="span2" id="sidebar">
				<h3>Messages</h3>

				<div id="messages">
					<div class="message pull-left">
						<h5>
							John Doe <span class="date">02/12/12</span>
						</h5>
						Hey mate, how are you doing?
					</div>
					<div class="message pull-right">
						<h5>
							Clark Doe <span class="date">02/12/12</span>
						</h5>
						Lorem ipsum dolor sit amet.
					</div>
					<div class="message pull-left">
						<h5>
							John Doe <span class="date">02/12/12</span>
						</h5>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</div>
					<div class="message pull-right">
						<h5>
							Clark Doe <span class="date">02/12/12</span>
						</h5>
						Lorem ipsum dolor sit amet.
					</div>

					<a style="margin-left: 63px;" class="btn btn-load-more" href="#">load
						more</a>
				</div>

				<div id="message-form">
					<form action="#">
						<div class="control-group">
							<div class="controls">
								<ul id="as-selections-097" class="as-selections">
									<li id="as-original-097" class="as-original"><input
										type="text" class="iput-xlarge as-input" autocomplete="off"
										id="as-input-097"><input type="hidden"
										id="as-values-097" name="as_values_097" class="as-values"
										value=""></li>
								</ul>
								<div id="as-results-097" class="as-results"
									style="display: none;"></div>
								<textarea placeholder="send a message"
									style="width: 172px; height: 50px;" class=""></textarea>
								<button class="btn btn-primary">send</button>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>


</body>
</html>